<header class="">
  <div class="container">
    <div class="navbar-area">
      <div class="img-area">
        <img src="static/img/BiltekCyberWhite2.png" />
      </div>
      <div class="navbar-button-area">
        <ul>
          <li>
            <a href="#btg">
              BTG
            </a>
          </li>
          <li>
            <a href="#why">
              Neden
            </a>
          </li>
          <li>
            <a href="#process">
              Süreç
            </a>
          </li>
          <li>
            <a href="#biltekcyber">
              BiltekCyber
            </a>
          </li>
          <li>
            <a href="#sponsors">
              Sponsor
            </a>
          </li>
          <li>
            <a class="register-nav-btn" href="#register">
              Kayıt Ol
            </a>
          </li>
        </ul>
      </div>
      <a class="mobil-nav-btn">
        <div class="nav-lines">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </a>
    </div>
  </div>
</header>

<div class="mobil-nav">
  <div class="mobil-nav-list">
    <ul>
      <li>
        <a href="#btg">BTG</a>
      </li>
      <li>
        <a href="#why">Neden</a>
      </li>
      <li>
        <a href="#process">Süreç</a>
      </li>
      <li>
        <a href="#biltekcyber">BiltekCyber</a>
      </li>
      <li>
        <a href="#sponsors">Sponsor</a>
      </li>
      <li>
        <a class="mobil-register-nav-btn" href="#register">Kayıt Ol</a>
      </li>
    </ul>
  </div>
</div>