@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@400;500;700&display=swap");
main {
  width: 100%;
  height: 100vh;
  position: relative;
}

main img.bg {
  position: absolute;
  width: 100%;
  z-index: -1;
}

@media (max-width: 767px) {
  main img.bg {
    width: 1250px;
    right: 0;
  }
}

main .area {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .area .info-area .main-title {
  color: var(--text-2);
  font-size: 60pt;
  font-weight: 600;
}

main .area .info-area .main-title span {
  color: var(--white);
  font-weight: 7800;
}

@media (max-width: 767px) {
  main .area .info-area .main-title {
    color: var(--white);
  }
  main .area .info-area .main-title span {
    color: var(--pink);
  }
}

@media (max-width: 450px) {
  main .area .info-area .main-title {
    font-size: 40pt;
    color: var(--white);
  }
  main .area .info-area .main-title span {
    color: var(--pink);
  }
}

@media (max-height: 550px) {
  main {
    height: 550px;
  }
}

section {
  padding: 100px 0;
}

section .flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .flex > div {
  width: 50%;
}

section .flex .img-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  section {
    padding: 50px 0;
  }
}

@media (max-width: 767px) {
  section#biltekcyber .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section#biltekcyber .flex .img-area img {
  width: 300px;
}

@media (max-width: 980px) {
  section#biltekcyber .flex .img-area {
    width: 30%;
  }
  section#biltekcyber .flex .img-area img {
    width: 100%;
  }
}

@media (max-width: 980px) {
  section#biltekcyber .flex .content-area {
    width: 70%;
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  section#biltekcyber .flex .content-area {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  section#biltekcyber .flex .content-area .title,
  section#biltekcyber .flex .content-area p {
    text-align: center;
  }
  section#biltekcyber .flex .content-area .title.after {
    padding-bottom: 20px;
    padding-right: unset;
  }
  section#biltekcyber .flex .content-area .title.after::after {
    content: "";
    display: block;
    width: 75px;
    height: 3px;
    margin: 0 auto;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: unset;
    right: unset;
  }
}

@media (max-width: 980px) {
  section#btg .flex .content-area {
    width: 100%;
  }
  section#btg .flex .content-area .title,
  section#btg .flex .content-area p {
    text-align: center;
  }
  section#btg .flex .content-area .title.before {
    padding-bottom: 20px;
    padding-right: unset;
  }
  section#btg .flex .content-area .title.before::before {
    content: "";
    display: block;
    width: 75px;
    height: 3px;
    margin: 0 auto;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: unset;
    right: unset;
  }
  section#btg .flex .content-area .button-area {
    margin: 20px auto 0 auto;
  }
}

section#btg .flex .img-area img {
  width: 100%;
}

@media (max-width: 980px) {
  section#btg .flex .img-area {
    width: 0%;
    display: none;
  }
  section#btg .flex .img-area img {
    width: 100%;
  }
}

section#process {
  background-color: var(--bg-2);
}

section#process .grid {
  grid-gap: 100px;
}

section#process .grid .process-card {
  width: 100%;
  min-height: 500px;
}

section#process .grid .process-card .process-card-header {
  position: relative;
  width: 100%;
  height: 50%;
  border-bottom: 0.1rem solid var(--pink);
}

section#process .grid .process-card .process-card-header .counter-bg {
  position: absolute;
  z-index: 1;
  font-size: 13rem;
  top: 0;
  left: 0;
  color: var(--text-bg);
  font-weight: 900;
  font-family: "Ubuntu", sans-serif;
}

section#process .grid .process-card .process-card-header .counter {
  position: absolute;
  z-index: 2;
  font-size: 8rem;
  bottom: 0;
  right: 0;
  font-weight: 900;
  color: var(--text);
  font-family: "Ubuntu", sans-serif;
}

@media (max-width: 1340px) {
  section#process .grid .process-card .process-card-header {
    height: 45%;
  }
  section#process .grid .process-card .process-card-header .counter-bg {
    font-size: 11rem;
  }
}

section#process .grid .process-card-info .text {
  margin-top: 10px;
}

@media (max-width: 1340px) {
  section#process .grid {
    grid-gap: 30px;
  }
}

@media (max-width: 980px) {
  section#process .grid {
    grid-gap: 50px;
  }
  section#process .grid.grid-4 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  section#process .grid.grid-4 .process-card {
    min-height: unset;
  }
  section#process .grid.grid-4 .process-card .process-card-header {
    height: 200px;
  }
}

@media (max-width: 767px) {
  section#process .grid.grid-4 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
  }
}

@media (max-width: 980px) {
  section#process .button-area {
    margin-top: 50px;
  }
}

section#why .flex .img-area img {
  width: 400px;
}

@media (max-width: 980px) {
  section#why .flex .img-area {
    width: 40%;
  }
  section#why .flex .img-area img {
    width: 100%;
  }
  section#why .flex .content-area {
    width: 60%;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  section#why .flex .img-area {
    width: 0%;
    display: none;
  }
  section#why .flex .img-area img {
    width: 100%;
  }
  section#why .flex .content-area {
    width: 100%;
    margin-left: 20px;
  }
}

section#register {
  background-image: url("../img/register-bg-min.png");
  background-position: center;
  background-size: cover;
}

section#register .title p {
  margin: 0;
}

section#register .title.huge {
  width: 100%;
}

@media (max-width: 1340px) {
  section#register .title.huge {
    font-size: 7rem;
  }
}

@media (max-width: 767px) {
  section#register .title.huge {
    font-size: 4rem;
  }
}

@media (max-width: 1340px) {
  section#register {
    background-size: auto;
  }
}

section#sponsors .title p {
  margin: 0;
}

section#sponsors .content .flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#sponsors .content .flex .s-logo-box {
  width: calc((100% - 8 * 20px) / 5);
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 20px;
  border: 1px solid;
  color: var(--text);
}

@media (max-width: 980px) {
  section#sponsors .content .flex .s-logo-box {
    width: calc((100% - 8 * 20px) / 3);
  }
}

@media (max-width: 767px) {
  section#sponsors .content .flex .s-logo-box {
    width: calc((100% - 8 * 20px) / 2);
  }
}

@media (max-width: 570px) {
  section#sponsors .content .flex .s-logo-box {
    width: calc((100% - 8 * 20px) / 1);
  }
}

@media (max-width: 570px) {
  section#sponsors .content .flex .s-logo-box {
    width: calc(100%);
  }
}

section#sponsors .content .flex .s-logo-box:nth-child(5n + 1) {
  margin-left: 0;
}

section#sponsors .content .flex .s-logo-box:nth-child(5n) {
  margin-right: 0;
}

section#sponsors .content .flex .s-logo-box img {
  width: 80%;
  height: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

section#sponsors .content .flex .s-logo-box:hover img {
  -webkit-filter: none;
          filter: none;
}

section#sponsors .content .flex .s-logo-box .star, section#sponsors .content .flex .s-logo-box .info {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-size: cover;
  background-position: center;
  text-align: center;
  background-color: var(--bg);
}

section#sponsors .content .flex .s-logo-box.gold .star {
  background-image: url("/static/img/gold-min.png");
  width: 50px;
  height: 50px;
}

section#sponsors .content .flex .s-logo-box.silver .star {
  background-image: url("/static/img/silver-min.png");
  width: 40px;
  height: 40px;
}

section#sponsors .content .flex .s-logo-box.bronze .star {
  background-image: url("/static/img/bronze-min.png");
  width: 30px;
  height: 30px;
}

footer {
  border-top: 0.2rem solid var(--bg-2);
  padding: 10px 0;
  height: 100px;
  margin-top: 70px;
}

@media (max-width: 767px) {
  footer {
    height: auto;
  }
}

footer .flex {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .flex .copyright {
  color: var(--text);
}

footer .flex .footer-logo {
  height: 100%;
  width: auto;
}

footer .flex .social-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .flex .social-area .social-link {
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 100%;
}

footer .flex .social-area .social-link:nth-last-child() {
  margin-left: 0;
}

footer .flex .social-area .social-link i {
  color: var(--bg);
}

footer .flex .social-area .social-link:hover {
  background-color: var(--bg-2);
}

footer .flex .social-area .social-link:hover i {
  color: var(--text);
}

@media (max-width: 767px) {
  footer .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .flex > * {
    margin: 10px 0;
  }
  footer .flex .footer-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 80px;
  }
  footer .flex .social-area {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .flex .copyright {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 30px;
  }
}

body {
  --bg: #1a2131;
  --text: #808eac;
  --text-2: #13182b;
  --text-bg: #39435a;
  --white: #fff;
  --pink: #fd0152;
  --bg-2: #242d41;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:not(i) {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
}

body main .container,
body section .container,
body header .container,
body footer .container {
  width: 1280px;
  height: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1340px) {
  body main .container,
  body section .container,
  body header .container,
  body footer .container {
    width: 950px;
  }
}

@media (max-width: 980px) {
  body main .container,
  body section .container,
  body header .container,
  body footer .container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  body main .container,
  body section .container,
  body header .container,
  body footer .container {
    width: 90%;
  }
}

body header {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: transparent;
  padding: 15px 0;
  z-index: 9999;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

body header.bg {
  background-color: var(--text-2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

body header .container {
  height: 100%;
}

body header .container .navbar-area {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .container .navbar-area .img-area {
  height: 100%;
}

body header .container .navbar-area .img-area img {
  height: 100%;
  width: auto;
}

body header .container .navbar-area .navbar-button-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header .container .navbar-area .navbar-button-area ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

body header .container .navbar-area .navbar-button-area ul li a {
  display: block;
  padding: 8px 15px;
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
}

body header .container .navbar-area .navbar-button-area ul li a:hover {
  color: var(--pink);
}

body header .container .navbar-area .navbar-button-area ul li a.register-nav-btn {
  background-color: var(--pink);
}

body header .container .navbar-area .navbar-button-area ul li a.register-nav-btn:hover {
  color: var(--text-2);
}

body header .container .navbar-area .navbar-button-area ul li:last-child() a {
  padding-right: 0;
}

@media (max-width: 767px) {
  body header .container .navbar-area .navbar-button-area {
    display: none;
  }
}

body header .container .navbar-area .mobil-nav-btn {
  display: none;
  padding: 10px;
}

body header .container .navbar-area .mobil-nav-btn .nav-lines {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .container .navbar-area .mobil-nav-btn .nav-lines > div {
  height: 5px;
  border-radius: 4px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

body header .container .navbar-area .mobil-nav-btn .nav-lines .line1 {
  width: 100%;
  background-color: var(--white);
}

body header .container .navbar-area .mobil-nav-btn .nav-lines .line2 {
  width: 80%;
  background-color: var(--pink);
  margin: 6px 0;
}

body header .container .navbar-area .mobil-nav-btn .nav-lines .line3 {
  width: 60%;
  background-color: var(--white);
}

body header .container .navbar-area .mobil-nav-btn.close-nav .nav-lines .line1,
body header .container .navbar-area .mobil-nav-btn.close-nav .nav-lines .line3 {
  width: 0;
}

@media (max-width: 767px) {
  body header .container .navbar-area .mobil-nav-btn {
    display: block;
  }
}

body .mobil-nav {
  position: fixed;
  z-index: 9998;
  width: 100%;
  height: 100%;
  background-color: var(--text-2);
  padding-top: 120px;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  overflow: scroll;
}

body .mobil-nav.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

body .mobil-nav .mobil-nav-list {
  width: 100%;
}

body .mobil-nav .mobil-nav-list ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

body .mobil-nav .mobil-nav-list ul li {
  width: 100;
}

body .mobil-nav .mobil-nav-list ul li a {
  display: block;
  color: var(--white);
  padding: 15px 15px;
  margin: 10px 10px;
  text-decoration: unset;
  text-align: center;
}

body .mobil-nav .mobil-nav-list ul li a.mobil-register-nav-btn {
  background-color: var(--pink);
  border-radius: 7px;
}

.button-area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 275px;
  cursor: pointer;
  margin-top: 20px;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.36);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.36);
  border-radius: 10px;
}

.button-area > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.button-area .black-area {
  width: 100%;
  background-color: var(--text-2);
  color: var(--white);
  padding: 18px 95px 18px 20px;
  border-radius: 10px;
}

.button-area .pink-area {
  width: 75px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--pink);
  border-radius: 10px;
  z-index: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.button-area .pink-area i {
  color: var(--white);
  font-size: 18pt;
}

.button-area:hover .pink-area {
  width: 100%;
}

a {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid.grid-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.content-area.right > .title,
.content-area.right > p {
  text-align: right;
}

@media (max-width: 767px) {
  .content-area.right > .title,
  .content-area.right > p {
    text-align: center;
  }
}

.title {
  position: relative;
  color: var(--white);
  font-size: 26pt;
  font-weight: 700;
}

.title p {
  margin: 0;
}

.title span {
  color: var(--pink);
}

.title.after {
  padding-right: 10px;
}

.title.after::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: var(--pink);
}

.title.after.under {
  padding-bottom: 20px;
  padding-right: unset;
}

.title.after.under::after {
  content: "";
  display: block;
  width: 75px;
  height: 3px;
  margin: 0 auto;
  bottom: 0;
  top: unset;
  right: unset;
}

@media (max-width: 767px) {
  .title.after {
    padding-bottom: 20px;
    padding-right: unset;
    text-align: center !important;
  }
  .title.after::after {
    content: "";
    display: block;
    width: 75px;
    height: 3px;
    margin: 0 auto;
    bottom: 0;
    top: unset;
    right: unset;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.title.before {
  padding-left: 10px;
}

.title.before::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: var(--pink);
}

@media (max-width: 767px) {
  .title.before {
    padding-bottom: 20px;
    padding-right: unset;
    text-align: center !important;
  }
  .title.before::before {
    content: "";
    display: block;
    width: 75px;
    height: 3px;
    margin: 0 auto;
    bottom: 0;
    top: unset;
    right: unset;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.title.huge {
  font-size: 9rem;
}

.title.center {
  text-align: center;
}

@media (max-width: 767px) {
  .title {
    font-size: 20pt;
  }
}

.text {
  color: var(--text);
  line-height: 1.8rem;
  margin-top: 50px;
}

@media (max-width: 980px) {
  .text {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .text {
    margin-top: 25px;
    text-align: center;
  }
}

.text.white {
  color: var(--white);
}

.text.center {
  text-align: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-area {
  position: fixed;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

.modal-area.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-area .modal {
  position: relative;
  background-color: var(--bg);
  width: 700px;
  margin: 50px;
  border-radius: 10px;
  border-bottom: 2px solid var(--pink);
}

.modal-area .modal .modal-header {
  padding: 20px;
}

.modal-area .modal .content {
  height: 500px;
  overflow-y: scroll;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
  padding: 0  20px;
}

.modal-area .modal .content p {
  line-height: 1.8rem;
  text-align: center;
}

.modal-area .modal .content::-webkit-scrollbar {
  width: 0.2em;
}

.modal-area .modal .content::-webkit-scrollbar-track {
  background-color: var(--text-2);
}

.modal-area .modal .content::-webkit-scrollbar-thumb {
  background-color: var(--pink);
}

@media (max-height: 767px) {
  .modal-area .modal .content {
    height: 380px;
  }
}

.modal-area .modal .modal-footer {
  padding: 20px;
}

.modal-area .modal .button-area {
  margin: 0 auto;
}

@media (max-width: 767px) {
  .modal-area .modal {
    margin: 20px;
  }
  .modal-area .modal .modal-header .title {
    font-size: 14pt;
  }
}

@media (max-height: 480px) {
  .modal-area {
    height: 700px;
  }
}
/*# sourceMappingURL=index.css.map */