@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@400;500;700&display=swap");
body {
  --bg: #1a2131;
  --text: #808eac;
  --text-2: #13182b;
  --text-bg: #39435a;
  --white: #fff;
  --pink: #fd0152;
  --bg-2: #242d41;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:not(i) {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
}

body main .container,
body section .container,
body header .container,
body footer .container {
  width: 1280px;
  height: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1340px) {
  body main .container,
  body section .container,
  body header .container,
  body footer .container {
    width: 950px;
  }
}

@media (max-width: 980px) {
  body main .container,
  body section .container,
  body header .container,
  body footer .container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  body main .container,
  body section .container,
  body header .container,
  body footer .container {
    width: 90%;
  }
}

.button-area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 275px;
  cursor: pointer;
  margin-top: 20px;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.36);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.36);
  border-radius: 10px;
}

.button-area > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.button-area .black-area {
  width: 100%;
  background-color: var(--text-2);
  color: var(--white);
  padding: 18px 95px 18px 20px;
  border-radius: 10px;
}

.button-area .pink-area {
  width: 75px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--pink);
  border-radius: 10px;
  z-index: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.button-area .pink-area i {
  color: var(--white);
  font-size: 18pt;
}

.button-area:hover .pink-area {
  width: 100%;
}

a {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid.grid-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid.grid-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid.grid-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.content-area.right > .title,
.content-area.right > p {
  text-align: right;
}

@media (max-width: 767px) {
  .content-area.right > .title,
  .content-area.right > p {
    text-align: center;
  }
}

.title {
  position: relative;
  color: var(--white);
  font-size: 26pt;
  font-weight: 700;
}

.title p {
  margin: 0;
}

.title span {
  color: var(--pink);
}

.title.after {
  padding-right: 10px;
}

.title.after::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: var(--pink);
}

.title.after.under {
  padding-bottom: 20px;
  padding-right: unset;
}

.title.after.under::after {
  content: "";
  display: block;
  width: 75px;
  height: 3px;
  margin: 0 auto;
  bottom: 0;
  top: unset;
  right: unset;
}

@media (max-width: 767px) {
  .title.after {
    padding-bottom: 20px;
    padding-right: unset;
    text-align: center !important;
  }
  .title.after::after {
    content: "";
    display: block;
    width: 75px;
    height: 3px;
    margin: 0 auto;
    bottom: 0;
    top: unset;
    right: unset;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.title.before {
  padding-left: 10px;
}

.title.before::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: var(--pink);
}

@media (max-width: 767px) {
  .title.before {
    padding-bottom: 20px;
    padding-right: unset;
    text-align: center !important;
  }
  .title.before::before {
    content: "";
    display: block;
    width: 75px;
    height: 3px;
    margin: 0 auto;
    bottom: 0;
    top: unset;
    right: unset;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.title.huge {
  font-size: 9rem;
}

.title.center {
  text-align: center;
}

@media (max-width: 767px) {
  .title {
    font-size: 20pt;
  }
}

.text {
  color: var(--text);
  line-height: 1.8rem;
  margin-top: 50px;
}

@media (max-width: 980px) {
  .text {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .text {
    margin-top: 25px;
    text-align: center;
  }
}

.text.white {
  color: var(--white);
}

.text.center {
  text-align: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-area {
  position: fixed;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

.modal-area.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-area .modal {
  position: relative;
  background-color: var(--bg);
  width: 700px;
  margin: 50px;
  border-radius: 10px;
  border-bottom: 2px solid var(--pink);
}

.modal-area .modal .modal-header {
  padding: 20px;
}

.modal-area .modal .content {
  height: 500px;
  overflow-y: scroll;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
  padding: 0 20px;
}

.modal-area .modal .content p {
  line-height: 1.8rem;
  text-align: center;
}

.modal-area .modal .content::-webkit-scrollbar {
  width: 0.2em;
}

.modal-area .modal .content::-webkit-scrollbar-track {
  background-color: var(--text-2);
}

.modal-area .modal .content::-webkit-scrollbar-thumb {
  background-color: var(--pink);
}

@media (max-height: 767px) {
  .modal-area .modal .content {
    height: 380px;
  }
}

.modal-area .modal .modal-footer {
  padding: 20px;
}

.modal-area .modal .button-area {
  margin: 0 auto;
}

@media (max-width: 767px) {
  .modal-area .modal {
    margin: 20px;
  }
  .modal-area .modal .modal-header .title {
    font-size: 14pt;
  }
}

@media (max-height: 480px) {
  .modal-area {
    height: 700px;
  }
}

table {
  width: 100%;
  border-spacing: 0;
}

table thead tr {
  background-color: var(--text);
}

table thead tr th {
  text-align: left;
  color: var(--text-2);
  padding: 10px;
}

table thead tr th:nth-child(1) {
  border-radius: 10px 0 0 10px;
}

table thead tr th:last-child {
  border-radius: 0 10px 10px 0;
}

table tbody tr td {
  padding: 10px;
}

table tbody tr td.hour {
  font-weight: bold;
}

table tbody tr td span {
  font-size: 12px;
}

table tbody tr td.date {
  font-weight: bold;
  color: var(--pink);
}

table tbody tr td.date2 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  width: 1px;
  font-weight: bold;
  word-break: break-word;
  color: var(--pink);
  text-align: center;
}

table tbody tr.ctf-start {
  background-color: var(--pink);
  color: white;
  text-align: center;
  font-weight: bold;
}

table tbody tr.ctf-start td:nth-child(1) {
  border-radius: 10px 0 0 10px;
}

table tbody tr.ctf-start td:last-child {
  border-radius: 0 10px 10px 0;
}

table tbody tr.ctf-start td.hour {
  text-align: left;
}
/*# sourceMappingURL=index.css.map */