@import "index";

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .register-area{
        width: 780px;
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .logo-area{
            width: 200px;
            height: auto;

            img{
                width: 100%;
                height: auto;
            }
        }

        .form-area{
            width: 100%;
            margin-top: 150px;
            @media (max-width: 500px) {
                margin-top: 70px;
            }
            form{

                &.hid{
                    display: none;
                }
                h1{
                    text-align: center;
                }
                .input-area{
                    margin: 15px 0;

                    &.check-area{
                        display: flex;
                        align-items: center;

                        span{
                            margin-left: 10px;
                        }
                    }
                    &.grid{
                        input:first-child{
                            margin-right: 10px;
                            width: auto;
                        }
                        input:last-child{
                            margin-left: 10px;
                            width: auto;
                        }

                        &.grid-2{
                            @media (max-width:475px) {
                                grid-template-columns: repeat(1, 1fr);

                                input{
                                    margin: 0;

                                    &:last-child{
                                        margin-top: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
                input{
                    width: 100%;
                    border: 1px solid var(--text);
                    border-radius: 7px;
                    padding: 8px 14px;
                    outline: none;
                    &[type="text"], &[type="email"]{
                        background-color: transparent;
                        color: var(--text);
                    }
                    &[type="checkbox"]{
                        width: 30px !important;
                        height: 30px !important;
                    }
                    &::placeholder{
                        color: var(--text-bg);
                    }

                    &[type="button"], &[type="submit"]{
                        &.form-btn{
                            background-color: var(--text);
                            color: var(--bg);
                            font-weight: 600;
                            cursor: pointer;

                            &.register-btn{
                                background-color: var(--pink);
                                color:white;
                                border-color: var(--pink);
                            }
                        }
                    }
                    
                }
            }
        }
    }
}



.checkbox-s{
    position: relative;
    width: 20px;
    height: 20px;
    .square{
        width: 100%;
        height: 100%;
        border: 1px solid var(--text);
        border-radius: 5px;
    }
    i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 9pt;
        display: none;
        &.show{
            display: block;
        }
    }
}

.hidden{
    display: none;
}


.lds-dual-ring.hidden {
    display: none;
  }
  
  /*Add an overlay to the entire page blocking any further presses to buttons or other elements.*/
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100vh !important;
    background: rgba(0,0,0,.8);
    z-index: 999;
    opacity: 1;
    transition: all 0.5s;
  }
  
  /*Spinner Styles*/
  .lds-dual-ring {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 5% auto;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }