<div class="container">
    <div class="area">
 <div class="info-area">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Sıralama</th>
                    <th>Takım Adı</th>
                    <th>Puan</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="hour">13.30 - 13.45</td>
                    <td>Kağan IŞILDAK</td>
                    <td>Malwation <span><i>(Co-Founder)</i></span></td>
                    <td>Açılış Konuşması</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>